html,body{
	background-color:#F6F6F6;
	font-family: Lato, "Helvetica Neue", Helvetica,Arial,sans-serif;
	width:100%;//TAKE CARE JAVI
}

html{
	height: 100%;
	font-size: 16px;
}

/*body{
	height: auto !important;
}*/

.goo{
	.navbar-primary{
		@include gradient-vertical(#FF6B09, #D55500);

		.navbar-nav>li>a {
			color:#F6F6F6;
		}

		.navbar-brand {
			color:#F6F6F6;
		}

		.navbar-left{
			li>a{
				background:transparent;
			}
		}
	}

	@media (max-width: 767px){
		.navbar-primary .navbar-nav .open .dropdown-menu>li>a {
			color: #F6F6F6;
    		font-weight: 300 !important;
		}
	}

	.navbar-primary .navbar-nav>.open>a, .navbar-primary .navbar-nav>.open>a:hover, .navbar-primary .navbar-nav>.open>a:focus {
		color: #F6F6F6;
	}
}

/*============================================================================
=============================== CUSTOM =======================================
==============================================================================*/

//---[COLOR]
%main-text-color{
	color: #333333;
}


//---[ELEMENTS]
//
//COMMON
@for $i from 1 through 6 {
    h#{7 - $i} {
        @extend %main-text-color;
        font-family: Ubuntu, Lato, sans-serif;
        text-align: left;
    }
}
h1{
	text-align: center;
	margin-bottom: 25px;
}

/*article{
	h4{
		text-align: left;	
	}
}*/

div,a,p,ul,li{
	@extend %main-text-color;
}

//PARAGRAPHS
body h1{
	text-transform: uppercase;
    text-align: center;
	font-size: 46px;
}

section{
	margin-bottom: 35px;
}

article{
	font-size: 16px;
    font-family: Ubuntu,Lato,sans-serif;
    width: 80%;
    margin: 0 auto;

    h2{
    	margin-top: 20px;
    	margin-bottom: 10px;
    }
}

figure{
	width: 80%;
	min-width: 740px;
	padding: 5px;

	h3{
		text-align: center;
	}

	&.center-example{
		margin: 0 auto;
	}
}

section{
	&.package-managers,
	&.browser-support
	{
		article > div{
			margin-top: 25px;
		}
	}

	article > div{
		margin-top: 25px;
	}

	a{
		color: #FF6B09;

		&:hover{
			color: #FF6B09;
		}
	}

	article{
		.extra-margin-top{
			margin-top: 30px;

			&:last-child{
				margin-bottom: 35px;
			}
		}
	}
}

//---Main Page Container
#main{
	width:100%;
	height:auto;
	position: relative;
	display: block;
	margin-top: 53px;
}


//---Pages
.page{
	width: 100%;
	position: relative;
    display: block;
    padding: 20px 50px;
    background-color: #F0F0F0;
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
}

.page{
	background-color: yellow;

	&.page-home{
		background-color: #E3E3E3; 
	}

	&.page-cartodb{
		background-color: #E5E5E5; 
	}

	&.page-loader{
		background-color: #E8E8E8; 
	}

	&.page-modal{
		background-color: #EBEBEB; 
	}

	&.page-paginator{
		background-color: #F0F0F0; 
	}

	&.page-textwrapper{
		background-color: #F7F7F7; 
	}
}

.navbar-brand{ 
	i{
		background-image: url("../front-end/images/icons/menu-icon.png");
		background-size: 46px 25px;
	    position: relative;
	    display: inline-block;
	    height: 25px;
	    width: 46px;
	    background-repeat: no-repeat;
	    float: left;
	    margin-top: -3px;
	    margin-right: 30px;
    }

    div{
    	position: relative;
	    display: inline-block;
    	color: #F6F6F6;
    	float: right;
    }
}

//figures
#intro-example{
	.example-container{
		border: 2px dashed #333;
    	padding: 20px 10px;
    	border-radius: 10px;
	}
	
	.box-cont{
		position: relative;
    	display: block;
    	width: 80%;
    	height: 200px;
    	border: 2px solid #ddd;
    	margin-bottom: 10px;
    	margin: 0 auto;
    	//background-color: #a0a0a0;
    	overflow: hidden;
	}

	.box-carousel{
		position: absolute;
		display: block;
		width: 1000%;
		height: 100%;
	}

	.box{
		position: relative;
		display: inline-block;
		width:10%;
		height: 100%;
		padding:2px;
		
		@for $i from 1 through 10 {
			&.box#{$i}{
				.inner-box{
					$red: random(10);
					$green: random(10);
					$blue: random(10);
					$rand: 220 - random(50);
					/*$red: random(256)-1;
					$green: random(256)-1;
					$blue: random(256)-1;
			       	background-color: rgba($red, $green, $blue, 0.8);*/
			       	background-color: rgba($rand + $red, $rand + $green, $rand + $blue, 1);
				}
			}
		}

		.inner-box{
			width: 100%;
    		height: 100%;
    		position: relative;
    		display: block;
    		box-shadow: inset 0 0 20px #FFFFFF;
    		-webkit-box-shadow: inset 0 0 20px #FFFFFF;
			-moz-box-shadow: inset 0 0 20px #FFFFFF;
			text-align: center;
		}

		.box-page{
			position: relative;
			display: inline-block;
			font-family: Ubuntu, Lato, sans-serif;
        	font-weight: bold;
        	font-size: 32px;
        	z-index: 2;
		    line-height: 192px;
		}
	}
}

//HIGHLIGHT
.highlight{
	code, kbd, pre, samp {
		font-family: 'Source Code Pro', monospace;

		font-size: 16px;
	}

	pre{
		background-color: white;
		
		.just-reference{
			span{
				color: #FF6B09 !important;
				font-style: italic !important;
			}
		}
	}

	.hljs{
		background-color: white;
	}
}

//TABLES
table{
	width: 100%;
	overflow: auto;
	font-size: 14px;
	margin: 16px 0;

	caption{
    	padding-top: 8px;
    	padding-bottom: 8px;
    	color: black;
    	text-align: left;
    	text-align: center;
    	font-weight: bold;
    	border: 1px solid #ffba66;
	}
	
	table{
		margin: 4px;
	}

	thead{
		th{
			text-align: left;
			padding: 5px 0;
    		padding-left: 10px;

		}
	}

	tr{
	    background-color: #fff;
    	border: 2px solid #ffba66;
    	vertical-align: top;

    	&.settingsTheme ~ tr{
    		td{
    			border: 1px dashed #ffba66;

    			&:first-child{
    				text-align: center;
    			}
    		}
    	}
	}

	td{
		padding: 6px 13px;
    	border: 1px solid #ffba66;
    	vertical-align: top;

	}

	th.scope{
    	text-align: center;
    	padding:10px 0;    	font-style: italic;
    }

	.exclude{
		font-size: 12px;
	}

	&.events{
		td{
			&:first-child{
	    		width:200px;
	    		font-style: italic;
	    	}

	    	&:nth-child(2){
	    		width:100px;
	    	}

	    	&:nth-child(3){
	    		width:100px;
	    	}
		}
	}

	&.atrribute{
		td{
			&:first-child{
	    		width:200px;
	    		font-style: italic;
	    	}

	    	&:nth-child(2){
	    		width:100px;
	    	}

	    	&:nth-child(3){
	    		width:120px;
	    	}

	    	&:nth-child(4){
	    		width:100px;
	    	}
		}
	}

	&.properties{
		td{
			&:first-child{
	    		width:160px;
	    		font-style: italic;
	    	}

	    	&:nth-child(2){
	    		width:150px;
	    	}

	    	&:nth-child(3){
	    		width:150px;
	    	}
		}
	}

	

	&.multi-table{
		> tbody > tr{
			border: 0px;
			//border: 1px solid #ffba66;

			> td{
				padding: 0px;
				border: 0px;

				> table{
					margin: 0px;
				}
			}
		}

		caption{
			border: 0px;
			border-left: 2px solid #ffba66;
			border-right: 2px solid #ffba66;
		}
	}
}

#api, #parameters{
	h4{
	   	color: black;
    	font-style: italic;
	} 
}


//PACKAGE MANAGERS
//Download Cont
.package-manual-cont{
	a{
		display: block;
    	width: 12em;
    	margin: 0 auto;
    	padding: 1em;
    	text-align: center;
    	background-image: linear-gradient(to bottom,#FF6B09 0,#D55500 100%);
    	border-color: #FF8C00 #FF8C00 #cc7000 !important;
    	border-bottom: 3px solid #ffba66 !important;
    	border-style: solid;
    	border-width: 0.1em;
    	border-radius: 0.2em;
    	text-decoration: none;
    	font-weight: bold;
    	font-size: 120%;
    	text-shadow: black 1px 1px 2px;
    	color: white;

    	&:hover{
    		color: #333333;
    	}
	}
}

//BROWSER SUPPORT
.browser-support-cont{
	display:block;
	position: relative;
	width: 100%;
	height: auto;
	//margin-top: 25px;
}

.browser-support-wrapper{
	display:block;
	position: relative;
	width: 100%;
	height: 150px;
	text-align: justify;

	> div{
		position: relative;
		display: inline-block;
		width: 12%;
		height: 100%;
		padding: 10px;
		text-align: center;

		&:after {
  			content: '';
  			display: inline-block;
  			width: 100%;
		}
	
		> div{
			position: relative;
			display: block;
			height: 120px;
			width: 100%;
			
			+ span{
				display: block;
				position: relative;
				width: 100%;
				height: 30px;
				font-size: 12px;
				text-align: center;
			}
		}

		> div{
			margin: 0 auto;
    		position: relative;
    		display: block;
    	}


		&.browser-ie-cont{
			> div{
				background: url("../front-end/images/svg/explorer.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

		&.browser-chrome-cont{
			> div{
				background: url("../front-end/images/svg/chrome.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}
		
		&.browser-firefox-cont{
			> div{
				background: url("../front-end/images/svg/firefox.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

		&.browser-safari-cont{
			> div{
				background: url("../front-end/images/svg/safari.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

		&.browser-opera-cont{
			> div{
				background: url("../front-end/images/svg/opera.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

		&.browser-ios-cont{
			> div{
				background: url("../front-end/images/svg/ios.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

		&.browser-android-cont{
			> div{
				background: url("../front-end/images/svg/android.svg") no-repeat;
				background-size: contain;
	    		background-position: center;
			}
		}

	}

	.stretch {
    	width: 100%;
    	display: inline-block;
    	font-size: 0;
    	line-height: 0
	}
}

.browser-support-note{
	font-size: 14px;
}

//STYLES
.styles-usage-cont,
.component-usage-cont{
	> div{
		margin-bottom:20px;

		h4{
			font-style: italic;
		}
	}
}

.c-paginator{
	margin-bottom: 20px;
}



