html,body{
	background-color:#F6F6F6;
	font-family: Lato, "Helvetica Neue", Helvetica,Arial,sans-serif;
	width:100%;//TAKE CARE JAVI
	height:100%;//TAKE CARE JAVI
}

.goo{
	.navbar-primary{
		@include gradient-vertical(#FF6B09, #D55500);

		.navbar-nav>li>a {
			color:#F6F6F6;
		}

		.navbar-brand {
			color:#F6F6F6;
		}

		.navbar-left{
			li>a{
				background:transparent;
			}
		}
	}

	@media (max-width: 767px){
		.navbar-primary .navbar-nav .open .dropdown-menu>li>a {
			color: #F6F6F6;
    		font-weight: 300 !important;
		}
	}

	.navbar-primary .navbar-nav>.open>a, .navbar-primary .navbar-nav>.open>a:hover, .navbar-primary .navbar-nav>.open>a:focus {
		color: #F6F6F6;
	}
}

#main,
.ng-scope,
.page{
	width:100%;
	height:100%;
}

.page{
	background-color: yellow;

	&.page-home{
		background-color: #E3E3E3; 
	}

	&.page-cartodb{
		background-color: #E5E5E5; 
	}

	&.page-loader{
		background-color: #E8E8E8; 
	}

	&.page-modal{
		background-color: #EBEBEB; 
	}

	&.page-paginator{
		background-color: #F0F0F0; 
	}

	&.page-textwrapper{
		background-color: #F7F7F7; 
	}

}
