// Checkboxes
//
// Copy settings from this file into the provided `_custom.scss` to override


.checkbox-goo {
  padding-left: 5px;
}
.checkbox-goo label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox-goo label::before {
  background-color: $white;
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: $border-thin $border-solid $border-color;
  @include border-radius($border-radius);
  @include transition(all 0.3s ease-in-out);
}
.checkbox-goo label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: $font-size-small;
  color: $goo;
}
.checkbox-goo input[type="checkbox"],
.checkbox-goo input[type="radio"] {
  @include opacity(0);
  z-index: 1;
}
.checkbox-goo input[type="checkbox"]:focus + label::before,
.checkbox-goo input[type="radio"]:focus + label::before {
  outline: $border-thin $border-dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox-goo input[type="checkbox"]:checked + label::after,
.checkbox-goo input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox-goo input[type="checkbox"]:indeterminate + label::after,
.checkbox-goo input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: $goo;
  margin-left: -16.5px;
  margin-top: 7px;
  @include border-radius(2px);
}
.checkbox-goo input[type="checkbox"]:disabled + label,
.checkbox-goo input[type="radio"]:disabled + label {
  @include opacity(0.65);
}
.checkbox-goo input[type="checkbox"]:disabled + label::before,
.checkbox-goo input[type="radio"]:disabled + label::before {
  background-color: $goo-lighter;
  cursor: not-allowed;
}
.checkbox-goo.checkbox-circle label::before {
  @include border-radius($border-radius-circle);
}
.checkbox-goo.checkbox-inline {
  margin-top: 0;
}