// Radios
//
// Copy settings from this file into the provided `_custom.scss` to override


.radio-goo {
  padding-left: 5px;
}
.radio-goo label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio-goo label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: $border-thin $border-solid $border-color;
  background-color: $white;
  @include border-radius($border-radius-circle);
  @include transition(all 0.3s ease-in-out);
}
.radio-goo label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: $goo;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  @include transition(all 0.3s ease-in-out);
}
.radio-goo input[type="radio"] {
  z-index: 1;
  @include opacity(0);
}
.radio-goo input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio-goo input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio-goo input[type="radio"]:disabled + label {
  @include opacity(0.65);
}
.radio-goo input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio-goo.radio-inline {
  margin-top: 0;
}