/*PAGINATOR*/
.c-paginator {
  font: 20px arial, sans-serif;
  padding: 10px;
  width: 100%;
  position: relative;
  text-align: center;
  color: #2B253B;
}

.c-paginator__wrapper-paginator {
  padding: 10px;
  width: 100%;
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
}

.c-paginator__counter {
  margin-top: 5px;
  margin-bottom: 10px;
}

.c-paginator__navigation {
  display: inline-block;
  margin: 0 auto;
  padding: 1px;
  position: relative;
  overflow: hidden;
}

.c-paginator__counter {
  display: block;
  position: relative;
  text-align: center;
}

.c-paginator__prev-controls, .c-paginator__next-controls {
  display: inline-block;
  /*padding: 5px;*/
}

.c-paginator__page-selectors {
  display: inline-block;
}

.c-paginator__navigation .js-next-action:before {
  content: "\0203A";
}

.c-paginator__navigation .js-last-action:before {
  content: "\000BB";
}

.c-paginator__navigation .js-prev-action:before {
  content: "\02039";
}

.c-paginator__navigation .js-first-action:before {
  content: "\000AB";
}

.c-paginator__page-selector {
  display: inline;
}

.c-paginator__page-selector a {
  text-decoration: none;
  color: #337ab7;
  position: relative;
  float: left;
  padding: 6px 14px;
  margin-left: -2px;
  line-height: 1;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
}

.c-paginator__page-selector a:hover {
  z-index: 3;
  color: #23527c;
  background-color: rgba(35, 82, 122, 0.1);
  border-color: #ddd;
}

.c-paginator__page-selector a.is-current-page {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.c-paginator__navigation > .c-paginator__page-selector:first-child a {
  margin-left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.c-paginator__navigation > .c-paginator__page-selector:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.c-paginator__prev-controls a:before, .c-paginator__next-controls a:before {
  position: relative;
  top: -1px;
}

.c-paginator.style-2 {
  font-family: fantasy;
  color: #302A3D;
}

.c-paginator.style-2 .c-paginator__page-selector a {
  color: #302A3D;
  padding: 8px 20px;
  margin-left: -1px;
  color: #302A3D;
  background-color: transparent;
  border: 1px solid #302A3D;
}

.c-paginator.style-2 .c-paginator__page-selector a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #302A3D;
}

.c-paginator.style-2 .c-paginator__page-selector a.is-current-page {
  color: #302A3D;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #302A3D;
}

.c-paginator.style-3 {
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  color: black;
}

.c-paginator.style-3 .c-paginator__page-selector a {
  color: #FFFFFF;
  padding: 8px 20px;
  margin-left: 4px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
  border-top: 1px solid #62686d;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  color: #fff;
  background-color: #4e5458;
  background-image: linear-gradient(to top, #575e63, #3f4347);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347');
}

.c-paginator.style-3 .c-paginator__page-selector a:hover {
  border-color: #61788a;
  background-color: #4d6374;
  background-image: linear-gradient(to top, #566f82, #3e505e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e');
}

.c-paginator.style-3 .c-paginator__page-selector a.is-current-page {
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
  border-color: #2d3035;
  background-color: #303338;
  background-image: linear-gradient(to top, #303338, #2d3034);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034');
}

.c-paginator.style-4 {
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  color: black;
}

.c-paginator.style-4 .c-paginator__page-selector a {
  color: #717171;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  border-top: 1px solid #fff;
  padding: 8px 13px;
  margin-left: 4px;
  border: none;
  text-shadow: white 0 1px 0;
  color: #717171;
  background-color: #f5f5f5;
  background-image: linear-gradient(to top, #f9f9f9, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
}

.c-paginator.style-4 .c-paginator__page-selector a:hover {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: linear-gradient(to top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
}

.c-paginator.style-4 .c-paginator__page-selector a.is-current-page {
  color: #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
  border-color: #505050;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: linear-gradient(to top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
}

.c-paginator.style-5 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
}

.c-paginator.style-5 .c-paginator__page-selector a {
  color: black;
  padding: 8px 0px 4px;
  margin: 0px 15px;
  color: #302A3D;
  background-color: transparent;
  border: none;
}

.c-paginator.style-5 .c-paginator__page-selector a:hover {
  color: black;
  border: none;
  border-bottom: 2px solid black;
}

.c-paginator.style-5 .c-paginator__page-selector a.is-current-page {
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.c-paginator.style-5 .c-paginator__prev-controls a:hover, .c-paginator.style-5 .c-paginator__prev-controls a.is-current-page, .c-paginator.style-5 .c-paginator__next-controls a:hover, .c-paginator.style-5 .c-paginator__next-controls a.is-current-page {
  border-bottom: none;
}

.c-paginator.style-5 .c-paginator__prev-controls a:before, .c-paginator.style-5 .c-paginator__next-controls a:before {
  top: -2px;
}

/*# sourceMappingURL=paginator.css.map */
